html,body {
    background-color: rgb(9, 192, 2);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
main{
    flex: 1;
}
footer{
    width:100%;
}
  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}


header {
    background-color: #044e08; 
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(231, 228, 228);
    text-decoration: none;
    font-weight: bold;
}


.hero {
    background-color: rgb(9, 192, 2); 
    padding: 50px;
    color: #201d1d;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #157708; 
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(5, 163, 0);
}


.content {
    background-color: #044e08; 
    padding: 20px;
    color: white;
}


footer {
    background-color: #044e08; 
    color: white;
    padding: 10px;
}


  




  